h1,h2 {
    color:black;
    text-align: center;
    border: 5px crimson solid;
    border-color:#d00000;
    background-color: #e85d04;
    padding:5px;
}
img {
    width: 290px;
    height: 280px;
    border:5px crimson solid;
    margin:5px;
    border-radius:30px;
}
div{
    background-color: #fca311;
    border: 5px black solid;
    border-radius: 30px;
    width:  230px;
    height: 200px;
    padding: 50px;
    margin: 130px;
    display: inline-block;
    color:#7b2cbf;
    font-weight: 700;

}

div::first-letter {
    color:crimson;
    font-size:40px;
}
div::first-line {
    color:forestgreen;
    font-size:40px;
}
h3 {
    background-color: #00bbf9;
    color:#b7094c;
    font-size: 30px;
    border:1px black solid;
    border-radius: 30px;
    text-align:right;
}
body {
    background-color: goldenrod;
}
li > a{
    background: maroon;
    color: white;
    font-weight: bolder;
    font-size:30px;
}